.login__first_ap {
    -fx-background-color: linear-gradient(from 195px 0px to 195px 844px, #DBEFFF,white 100%,white);
    -fx-background-radius: 18 18 18 18;
}

.login__third_ap--top {
    -fx-background-color: #D2EAFE;
    -fx-background-radius: 18 18 18 18;
}

.login__third_ap--bottom {
    -fx-background-color: white;
    -fx-background-radius: 18 18 18 18;
}

.transButton, TextField, PasswordField, ComboBox, DatePicker {
    -fx-min-width: 240px;
    -fx-man-width: 240px;
    -fx-background-color: #D2EAFE;
    -fx-background-radius: 18 18 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10px 10px;
    -fx-border-width: 2;
    -fx-border-color: #4DB0FF;
    -fx-border-radius: 18 18 18 18;
}


TextField, PasswordField {
    -fx-padding: 5 3 5 30;
}

DatePicker .text-field {
    -fx-control-inner-background: #D2EAFE;
    -fx-background-radius: 18 18 18 18;
    -fx-control-inner-background-radius: 18 18 18 18;
}

DatePicker .arrow-button {
    -fx-background-radius: 0 18 18 0;
}

.transButton {
    -fx-background-color: #4DB0FF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

Line {
    stoke: red;
}

.icon--email {
    -fx-background-image: url('../img_elements/icon/icon_mail_read.png');
    -fx-background-size: 18px 14px;
    -fx-background-position: 10px 14px;
}

.icon--lock {
    -fx-background-image: url('../img_elements/icon/icon_lock.png');
    -fx-background-size: 18px 20px;
}

.icon--house {
    -fx-background-image: url('../img_elements/icon/icon_house.png');
    -fx-background-size: 18px 20px;
}

.icon--user {
    -fx-background-image: url('../img_elements/icon/icon_user.png');
    -fx-background-size: 18px 20px;
}

.icon--earth {
    -fx-background-image: url('../img_elements/icon/icon_earth.png');
    -fx-background-size: 18px 20px;
}

Button .mybtn, Label, TextField, PasswordField, ComboBox {
    -fx-font-size: 16;
}

Label {
    -fx-text-fill: #4DB0FF;
    -fx-font-style: italic;
}

.psw_verg_lbl {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-padding: 5 5 5 5;
}

.big_lbl {
    -fx-font-size: 16;
}

.small_logo_lbl {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-style: normal;
}

.big_bold_lbl {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.logo_lbl {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.scroll_btn {
    -fx-cursor: hand;
}

#startPane, #loginPane {
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
}